doctype html
html(lang='en')
  head
    block helmet
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='public/favicon.ico')

    block style
      link(href=(maincss) || '' rel='stylesheet')

  body
    noscript
      Please enable javascript for this page

    block content

    block footerscripts
    script(type='text/javascript' src=(rFootScript) || '')

