doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='favicons/favicon.ico')
    link(href=(maincss) || '' rel='stylesheet')
    block title
      title= title
    block style
    block headerscripts
  body
    noscript
      Please enable javascript for this page
    #root!= RRR

    block footerscripts

    script(type='text/javascript' src=(rFootScript) || '')
